a{
  color:unset;
  text-decoration: none;
}
a:hover{
  color:unset;
  text-decoration: none;
}
p .btn {
    color: #cae8ff;
    text-decoration: underline dotted;
    border: 0;
    vertical-align: middle;
    padding: 0px 10px;
    margin: 0;
}
p .btn:hover {
    color: #f0f8ff;
}
.btn-default{
  background-color: #f0f8ff;
  color:#050a30;
  font-weight: 300;
  font-size: calc(1% + 0.1vw + 2vh);
  border-radius: 10px;
}
.btn-default:hover{
  color:#f0f8ff;
  background-color: transparent;
  font-weight: 300;
  border: 0px;
  box-shadow: 0px 0px 4px #cae8ff;;
  transition:300ms all ease-in-out;
}
.list-group-item{
  background-color: transparent;
  color: #f0f8ff8f;
  font-size: 1.2em;
  border:0;
  text-decoration: none;
}
.list-group-item a:hover{
  background-color: transparent;
  color: #f0f8ff;
  font-size: 1.1em;
  transition: 400ms;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom left;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}
/* ------------------initial Progress-------------------- */
.progress{
  height: 3rem;
}
.progress-bar-striped{
  background-size: 1.4rem 1.4rem;
}
.progress-bar{
  background-color: #0a76b4;
}

/* ---------------Notify Form------------------ */
.border-left{
  border-left: #cae8ff solid 2px;
  border-radius: 1rem;
  border-top: #00e1ff solid 2px;
}
.form-container{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.bg-form{
    background: linear-gradient(to top left, #050a30, #050a30, #005183);
}

@media (min-width: 768px) {
  .w-md-fit{
    width: fit-content;
  }
  .border-md-left{
    border-left: #cae8ff solid 2px;
    border-top: #00e1ff solid 2px;
    border-radius: 1rem;
  }
}
@media (max-width: 768px) {
    .border-md-left{
        border-radius: .5rem;
    }
}

/* -------front page-------- */
.Explore_btn{
  background-color: #f0f8ff;
  color:#050a30;
  font-weight: 700;
  font-size: calc(10% + 0.4vw + 3vh);
  border-radius: 50px;
}
.Explore_btn:hover{
  color:#f0f8ff;
  font-weight: 700;
  border: #f0f8ff 2px solid;
  background-color: transparent;
  transition:300ms all ease-in-out;
  box-shadow: 0px 0px 10px 1px;
}

.box-img{
  max-width:calc(12*(1.2vh + 5vw));
  padding-bottom: 100px;
  object-fit: contain;
}

.title h1{
  font-size: calc(40% + 4vw + 3vh);
  font-weight: bolder;
}
.title h2{
  font-size: calc(10% + 1.5vw + 3vh);
  font-weight: bolder;
}
.title h3{
  font-size: calc(10% + 1vw + 2.5vh);
  font-weight: bolder;
}