.logo-img{
    height: 40px;
    width: 40px;
}
body{
  background-color: #050a2b;
  color: #f0f8ff;
  font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
  position: sticky;
  top: 0px;
  border-bottom: 1px solid white;
  overflow: visible;
  z-index: 5;
  background-color: #050a30;
}
.f-graduate{
  font-family: 'Graduate', cursive;
}
.f-lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.f-manrope{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}
.f-cursive{
  font-family : cursive
}